#Fondo {
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0px;
	top: 0px;
	background: #c0d6da;
	overflow: auto;
}

#Encabezado {
	position: relative;
	width: 100%;
	height: 100px;
	background: #e8ff17;
	}

#FondoSuperior {
	position: relative;
	margin: 0 auto;
	width: 1030px;
	background: #24045f;
	overflow: hidden;
}

#Final {
	position: relative;
	width: 100%;
	height: 100px;
	background: #d83535;
}

.fontColor {
	font-family: #d83535;
}
	